@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Mina:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;600;700&family=Tilt+Neon&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Mina', sans-serif;
}

/*=============== Home Container ===============*/

.home-container {
    height: 100vh;
    width: 100%;
    padding: 2% 6%;
    background-image: url(bg1.png);
    background-size: cover;
    background-position: center;
}

/*========== Navbar ==========*/

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.navbar i {
    font-size: 1.75rem;
}

.nav-head {
    font-size: 1.75rem;
}

/*========== Home Content ==========*/

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-text {
    display: grid;
    row-gap: 1rem;
    /* padding: 1rem 3rem; */
}

.home-head1 {
    font-size: 5rem;
    font-weight: 400;
}

.home-head2 {
    font-size: 5rem;
}

.home-btns {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.buy-btn, .shop-btn {
    border: 0;
    outline: 0;
    background-color: #fff;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.buy-btn:hover, .shop-btn:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/*=============== Sec. 1 Container ===============*/

.section1-container {
    height: 100vh;
    width: 100%;
    padding: 2% 6%;
    background-image: url(bg2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
}

.sec1-text {
    display: grid;
    row-gap: 1rem;
}

.sec1-head {
    font-size: 4rem;
}

.sec1-desc {
    font-size: 1.5rem;
}

.sec1-img img{
    width: 500px;
}

/*=============== Sec. 2 Container ===============*/

.section2-container {
    height: 100vh;
    width: 100%;
    padding: 2% 6%;
    background-image: url(bg1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.sec2-head {
    font-size: 3rem;
}

.categories {
    /* display: grid;
    grid-template-columns: repeat(3, 320px);
    column-gap: 6rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6rem;
}

.cat1, .cat2, .cat3 {
    display: grid;
    place-items: center;
    background-color: #fff;
    padding: 1.75rem 1rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cat-head {
    margin-top: 1.25rem;
}

.cat1 img, .cat2 img, .cat3 img {
    width: 300px;
}

.cat-para, .cat-head {
    text-align: center;
}

.sec2-btn {
    border: 0;
    outline: 0;
    background-color: #fff;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.sec2-btn:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/*=============== Sec. 3 Container =============*/

.section3-container {
    height: 100vh;
    width: 100%;
    padding: 2% 6%;
    background-image: url(bg2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    column-gap: 8rem;
}

.sec3-textContent {
    display: grid;
    row-gap: 2rem;
}

.sec3-text {
    display: grid;
    row-gap: 1rem;
}

.sec3-head {
    font-size: 3rem;
}

.sec3-para {
    font-size: 1.65rem;
}

.sec3-locations {
    display: grid;
    row-gap: 1rem;
}

.loc-head {
    font-size: 1.75rem;
}

.sec3-img img {
    width: 550px;
}

/*=============== Footer ===============*/

.footer {
    height: 55vh;
    width: 100%;
    padding: 4% 6%;
    background-image: url(bg1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

.contact-head {
    font-size: 3rem;
}

.contact-options {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-top: 1rem;
}

.office-social {
    display: flex;
    column-gap: 8rem;
}

.office, .social {
    display: grid;
    row-gap: 1rem;
}

.links {
    display: grid;
}

.links a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1285px) {
    .home-content {
        justify-content: space-between;
    }

    .sec1-head {
        font-size: 3rem;
    }

    .sec1-desc {
        font-size: 1.25rem;
    }

    .sec1-img img {
        width: 450px;
    }

    .categories {
        /* grid-template-columns: repeat(3, 300px); */
        column-gap: 5rem;
    }

    .cat1 img, .cat2 img, .cat3 img {
        width: 250px;
    }

    .cat-head {
        font-size: 1.1rem;
    }

    .cat-para {
        font-size: .85rem;
        margin-top: .25rem;
    }

    .section3-container {
        column-gap: 5rem;
    }

    .sec3-para {
        font-size: 1.5rem;
    }

    .sec3-img img {
        width: 520px;
    }
}

@media screen and (max-width: 1140px) {
    .home-container, .section1-container {
        height: 85vh;
    }

    .home-head1, .home-head2 {
        font-size: 4rem;
    }

    .home-img {
        width: 400px;
    }

    .sec1-head, .sec2-head, .sec3-head, .contact-head {
        font-size: 2.5rem;
    }

    .sec1-img img {
        width: 400px;
    }

    .section2-container, .section3-container {
        height: 90vh;
    }

    .categories {
        column-gap: 4rem;
    }

    .cat1 img, .cat2 img, .cat3 img {
        width: 200px;
    }

    .sec3-para {
        font-size: 1.2rem;
    }

    .loc-head {
        font-size: 1.5rem;
    }

    .location {
        font-size: .85rem;
    }

    .sec3-img img {
        width: 450px;
    }

    .footer {
        height: 50vh;
    }

    .contact-options {
        row-gap: 3rem;
    }

    .office-head, .social-head {
        font-size: 1.75rem;
    }

    .office-social {
        column-gap: 6rem;
    }
}

@media screen and (max-width: 936px) {
    .home-container {
        height: 70vh;
        display: grid;
    }

    .home-content {
        display: grid;
        grid-template-columns: 400px 300px;
    }

    .home-head1, .home-head2 {
        font-size: 3.5rem;
    }

    .buy-btn, .shop-btn, .sec2-btn {
        font-size: 1rem;
        padding: .85rem 1.85rem;
    }

    .home-img, .sec1-img img {
        width: 300px;
    }

    .sec1-head, .sec2-head, .sec3-head, .contact-head {
        font-size: 2rem;
    }

    .sec1-desc {
        font-size: 1rem;
    }

    .section1-container {
        height: 70vh;
        column-gap: 3rem;
    }

    .section2-container, .section3-container {
        height: 85vh;
    }

    .cat1 img, .cat2 img, .cat3 img {
        width: 20vw;
    }

    .sec2-btn {
        margin-top: 0;
    }

    .sec3-img img {
        width: 400px;
    }

    .sec3-text {
        row-gap: .5rem;
    }

    .sec3-textContent {
        row-gap: 1.25rem;
    }

    .sec3-para {
        font-size: 1rem;
    }

    .loc-head {
        font-size: 1.25rem;
    }

    .location {
        font-size: .85rem;
    }

    .footer {
        height: 60vh;
        display: grid;
        row-gap: 1rem;
    }

    .contact-head {
        font-size: 2.25rem;
    }

    .office-head, .social-head {
        font-size: 1.5rem;
    }

    .office .location, .links a {
        font-size: 1rem;
    }

    .office-social {
        column-gap: 10rem;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(3, 26vw);
        column-gap: 5vw;
    }
}

@media screen and (max-width: 800px) {
    .home-container {
        grid-template-rows: 50px 350px;
        height: 65vh;
    }

    .nav-head {
        font-size: 1.5rem;
    }

    .home-head1, .home-head2 {
        font-size: 2.75rem;
    }

    .home-content {
        grid-template-columns: 350px 35vw;
    }

    .home-img {
        width: 35vw;
    }

    .sec1-img img {
        width: 35vw;
    }

    .section1-container {
        height: 60vh;
    }

    .sec1-head, .sec2-head, .sec3-head {
        font-size: 1.75rem;
    }

    .sec1-desc {
        font-size: .95rem;
    }

    .section2-container {
        height: 80vh;
        padding-top: 3%;
    }

    .cat-head {
        font-size: 1.2rem;
    }

    .section3-container {
        height: 80vh;
        column-gap: 2rem;
    }

    .sec3-img img {
        width: 300px;
    }

}

@media screen and (max-width: 615px) {
    .navbar {
        justify-content: center;
    }

    .home-container {
        height: 100vh;
        row-gap: 2rem;
    }

    .heads {
        display: grid;
        place-items: center;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .home-img, .sec1-img img {
        width: 300px;
    }

    .section1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        row-gap: 4rem;
    }

    .sec1-head, .sec1-desc {
        text-align: center;
    }

    .sec1-head, .sec2-head, .sec3-head, .contact-head {
        font-size: 2rem;
    }

    .sec1-desc {
        font-size: 1.2rem;
    }

    .section2-container {
        height: 100%;
        padding: 4% 6%;
    }

    .categories {
        grid-template-columns: 300px;
        row-gap: 2rem;
    }

    .cat1 img, .cat2 img, .cat3 img {
        width: 240px;
    }

    .section3-container {
        height: 100%;
        display: grid;
        place-items: center;
        row-gap: 2rem;
        padding: 4% 6% 5%;
    }

    .sec3-textContent, .sec3-text, .sec3-locations {
        display: grid;
        place-items: center;
    }

    .sec3-head, .sec3-para, .loc-head, .location {
        text-align: center;
    }

    .footer {
        height: 55vh;
        row-gap: 0;
    }

    .office-head, .social-head {
        font-size: 1.25rem;
    }

    .office .location {
        text-align: initial;
    }

    .office-social {
        column-gap: 5rem;
    }

    .contact-options {
        padding-top: 0;
    }
}